apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml

images:
- name: ghcr.io/sojohnnysaid/mirai-app/mirai-backend
  newName: ghcr.io/sojohnnysaid/mirai-app/mirai-backend
  newTag: "2994e02"
